{% extends 'easyloadmain/base.html' %}
{% load bootstrap %}

{% block title %}Command{% endblock %}

{% block content %}
Build your elasticsearch-load command below:
{{ form|bootstrap }}
<form method="post" action="/command/">
   {% csrf_token %}
   <div class="form-group row">
      <label for="bulk_size" class="col-sm-2 col-form-label">--bulk-size</label>
      <div class="col-sm-10">
         <input type="number" class="form-control" id="bulk_size" placeholder="How many docs to collect">
      </div>
   </div>
   <div class="form-group row">
      <label for="index" class="col-sm-2 col-form-label">--es-host</label>
      <div class="col-sm-10">
         <input type="number" class="form-control" id="index" placeholder="Cluster entry point">
      </div>
   </div>
   <div class="form-group row">
      <label for="es_host" class="col-sm-2 col-form-label">--es-host</label>
      <div class="col-sm-10">
         <input type="number" class="form-control" id="es_host" placeholder="Destination index name">
      </div>
   </div>
   <fieldset class="form-group">
      <div class="row">
         <legend class="col-form-label col-sm-2 pt-0">Changes to index</legend>
         <div class="col-sm-10">
            <div class="form-check">
               <input class="form-check-input" type="radio" name="changes" id="new" value="new">
               <label class="form-check-label" for="new">
               new
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="changes" id="delete" value="delete">
               <label class="form-check-label" for="delete">
               delete
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="changes" id="update" value="update">
               <label class="form-check-label" for="update">
               update
               </label>
            </div>
         </div>
      </div>
   </fieldset>
   <div class="form-group row">
      <label for="bulk_size" class="col-sm-2 col-form-label">--type</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="type" placeholder="Docs type">
      </div>
   </div>
   <div class="form-group row">
      <label for="bulk_size" class="col-sm-2 col-form-label">--id-field</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="id_field" placeholder="Field name to be used as document id">
      </div>
   </div>
   <div class="form-group row">
      <div class="col-sm-2">--with-retry</div>
      <div class="col-sm-10">
         <div class="form-check">
            <input class="form-check-input" type="radio" name="retry_checkbox" id="with_retry" value="with_retry">
            <label class="form-check-label" for="with_retry">
            </label>
         </div>
      </div>
   </div>
   <fieldset class="form-group">
      <div class="row">
         <legend class="col-form-label col-sm-2 pt-0">--encoding</legend>
         <div class="col-sm-10">
            <div class="form-check">
               <input class="form-check-input" type="radio" name="encoding" id="utf8" value="utf8">
               <label class="form-check-label" for="utf8">
               utf-8
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="encoding" id="latin1" value="latin1">
               <label class="form-check-label" for="latin1">
               latin-1
               </label>
            </div>
         </div>
      </div>
   </fieldset>
   <div class="form-group row">
      <label for="bulk_size" class="col-sm-2 col-form-label">--keys</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="keys" placeholder="Comma separated keys to pick from each document">
      </div>
   </div>
   <fieldset class="form-group">
      <div class="row">
         <legend class="col-form-label col-sm-2 pt-0">Format</legend>
         <div class="col-sm-10">
            <div class="form-check">
               <input class="form-check-input" type="radio" name="format" id="csv" value="csv">
               <label class="form-check-label" for="csv">
               csv
               </label>
            </div>
            <div class="form-check">
               <input class="form-check-input" type="radio" name="format" id="json" value="json">
               <label class="form-check-label" for="json">
               json
               </label>
            </div>
         </div>
      </div>
   </fieldset>
   <fieldset class="form-group">
       <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02"/>
                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
        </div>
   </fieldset>
   <div class="col-sm-10">
      <button type="submit" class="btn btn-success">Send command</button>
   </div>
</form>
{% endblock %}

<script>
   $('#inputGroupFile02').on('change',function(){
       //get the file name
       var fileName = $(this).val();
       //replace the "Choose a file" label
       $(this).next('.custom-file-label').html(fileName);
   })
</script>

<!--{% if form.errors %}-->
<!--    {% for field in form %}-->
<!--        {% for error in field.errors %}-->
<!--            <div class="alert alert-danger">-->
<!--                <strong>{{ error|escape }}</strong>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    {% endfor %}-->
<!--    {% for error in form.non_field_errors %}-->
<!--        <div class="alert alert-danger">-->
<!--            <strong>{{ error|escape }}</strong>-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--{% endif %}-->

